*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
.jekyll-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*
test/_posts/2017-01-23-layout-header-video.md
test/_data/ui-text.yml
docs/assets/js/main.min.js
docs/assets/js/_main.js
docs/_sass/_utilities.scss
docs/_posts/2017-01-23-layout-header-video.md
docs/_pages/home.md
docs/_pages/about.md
docs/_layouts/splash.html
docs/_layouts/single.html
docs/_layouts/archive.html
docs/_includes/analytics-providers/google-universal.html
docs/_includes/video
docs/_includes/paginator.html
docs/_includes/page__hero_video.html
docs/_includes/page__hero.html
docs/_docs/18-history.md
docs/_docs/17-javascript.md
docs/_docs/14-helpers.md
docs/_docs/10-layouts.md
docs/_docs/08-ui-text.md
docs/_docs/05-configuration.md
docs/_data/ui-text.yml
README.md
minimal-mistakes-jekyll.gemspec
CHANGELOG.md
